body {
    background:#FFB492 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
}

.assignment{
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color:#FFF6D2;
    border-radius: 10px;
}

.assignment img{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #2A747A ;
}
.assignment img:hover{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #96F2D8 ;
}

h1{
    color: #D95341;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
a{
    text-decoration: none;
    color: #2A747A ;
}

a:hover{
    color: #96F2D8;
}
